build/
# Data
*.dat
*.h5
*.ply
*.txt
*.avi
*.jpg
*.png

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Third Party
stb_image.h
glad.c

# Vscode
.vscode/
*.json